@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.linksharer {
  background-image: url('/img/landscape.jpeg');
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.user-info {
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.link {
  color: white;

  a {
    border: 2px solid #00000070;
    background-color: #00000050;
    border-radius: 15px;

    &:hover {
      background-color: #00000020;
    }
  }
}

.social {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.credits {
  color: white;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
